<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <title>Fady System</title>
    <link rel="stylesheet" href="./css/yousef-storage.css" />
    <link rel="stylesheet" href="./css/yousef-employers.css" />
    <link href="css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <style>
       * {
        direction: rtl;
      }
      .skin-2 .num-in span {
    width: 30px;
    display: block;
    height: 100%;
    float: left;
    position: relative;
    cursor: pointer;
}
.skin-2 .num-in {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    border-radius: 25px;
    height: 50%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: space-evenly;
}




.skin-2 .num-in input {
    float: left;
    width: fit-content;
    min-width: 60px;
    height: 100%;
    border: none;
    max-width: 60px;
    text-align: center;
}

.deleteBtn {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 60px;
    height: 40px;
    border: 1px solid red;
    border-radius: 6px;
    color: white;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="index">
            <span class="align-middle">Saleb .</span>
          </a>

          <ul class="sidebar-nav">
            <li class="sidebar-header">الصفحات</li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="index">
                <i class="align-middle" data-feather="sliders"></i>
                <span class="align-middle">لوحه التحكم</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="pages-sign-in">
                <i class="align-middle" data-feather="log-in"></i>
                <span class="align-middle">تسجيل الدخول</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="Employers">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">الموظفين</span>
              </a>
            </li>

            <li class="sidebar-item active">
              <a class="sidebar-link" href="Storage">
                <i class="align-middle" data-feather="home"></i>
                <span class="align-middle">المخزن</span>
              </a>
            </li>

            <!-- order item -->

            <li class="sidebar-item">
              <a class="sidebar-link" href="order-page">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-shopping-cart align-middle"
                >
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path
                    d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                  ></path>
                </svg>
                <span class="align-middle">الطلبات</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="Start">
                <i class="align-middle" data-feather="clipboard"></i>
                <span class="align-middle">بدأ</span>
              </a>
            </li>
            <li class="sidebar-header">اضافات</li>


            <!-- setting item -->

            <li class="sidebar-item">
              <a class="sidebar-link" href="setting-page">
                <i class="align-middle" data-feather="settings"></i>
                <span class="align-middle">اعدادات</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  data-bs-toggle="dropdown"
                >
                  <div class="position-relative">
                    <i class="align-middle" data-feather="bell"></i>
                    <span class="indicator">1</span>
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0 me"
                  aria-labelledby="alertsDropdown"
                >
                  <div class="dropdown-menu-header">1 اشعارات جديده</div>
                  <div class="list-group">
                    <a href="#" class="list-group-item">
                      <div class="row g-0 align-items-center">
                        <div class="col-2">
                          <i
                            class="text-danger"
                            data-feather="alert-circle"
                          ></i>
                        </div>
                        <div class="col-10">
                          <div class="text-dark">Update completed</div>
                          <div class="text-muted small mt-1">
                            Restart server 12 to complete the update.
                          </div>
                          <div class="text-muted small mt-1">30m ago</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="dropdown-menu-footer">
                    <a href="./notification-page" class="text-muted"
                      >أظهار جميع الاشعارات</a
                    >
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="align-middle" data-feather="settings"></i>
                </a>

                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <img
                    src="img/avatars/avatar.jpg"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />
                  <span class="text-dark">يوسف رومانى</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="pages-profile"
                    ><i class="align-middle me-1" data-feather="user"></i>
                    المستخدم</a
                  >
                  <a class="dropdown-item" href="./charts-chartjs"
                    ><i class="align-middle me-1" data-feather="pie-chart"></i>
                    التحليل</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3 yousef-add">
              صفحه المخزن ( <a href="/Storage2">مواد الخام</a> )
              <div class="container-add">
                <i class="yousef-add-item" data-feather="plus"></i>
              </div>
            </h1>

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <div class="container-yousef">
                      <h2 style="color: #3b7ddd;" id="ma1">
                        المنتجات
                      </h2>



<!-- Object.Data.keys(namePro).length > 0 -->
<!-- const data = Object.getOwnPropertyNames(person).length > 0 -->
                      ( <%= Data.length %>  )
                        <% if( 1 == 1 ) { %>
                          
                          <% Data.forEach( function(item) { %>
                            <% if (item.nameSetting === null) { %>



                              
                            <div class="card-st">
                              <div class="container-container-stor">
                                <h3>
                                  

                                    <%= item.namePro  %>
                                  
                                </h3>
                                <div style="position: relative" class="container-counter">
      
                                  <form action="/ChangeInProdect/<%= item.idPro %>" method="POST">
      
                                    <div class="cotainer-up-down">
                                      <div class="num-block skin-2">
                                        <div class="num-in">
                                          <span class="minus dis"></span>
                                          <input
                                            type="text"
                                            class="in-num"
                                            value="<%= item.amountPro %>"
                                            name="Number"
                                            id="Number"
                                          />
                                          <span class="plus"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="btn-sub-stor">
                                      <input type="submit" value="تغير" />
                                    </div>
                                  </form>
      
                                  <form action="/deleteProdect/<%= item.idPro %>" method="post">
                                    <button class="deleteBtn">
                                      حذف
                                    </button>
                                </form>
      
                                </div>
                              </div>
                            </div>
                            <% } else { %>
                              <div class="card-st">
                                <div class="container-container-stor">
                                  <h3 style="color: rgb(0, 196, 0);">
                                    
                                    <%= item.nameSetting %>
                                    
                                  </h3>
                                  <div style="position: relative" class="container-counter">
        
                                    <form action="/ChangeInProdect/<%= item.idPro	 %>" method="POST">
        
                                      <div class="cotainer-up-down">
                                        <div class="num-block skin-2">
                                          <div class="num-in">
                                            <span class="minus dis"></span>
                                            <input
                                              type="text"
                                              class="in-num"
                                              value="<%= item.amountPro %>"   
                                              name="Number"
                                              id="Number"
                                            />
                                            <span class="plus"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="btn-sub-stor">
                                        <input type="submit" value="تغير" />
                                      </div>
                                    </form>
        
                                    <form action="/deleteProdect/<%= item.idPro	 %>" method="post">
                                      <button class="deleteBtn">
                                        حذف
                                      </button>
                                  </form>
        
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          <% }); %>
                      <% } else { %>
                        
                        <h2> لايوجد منتجات </h2>
                      <% } %>







                      <!-- -------------------------------------------------------------------------------------------------------------------- -->

                      



                      <!-- -------------------------------------------------------------------------------------------------------------------- -->


                      



                      <div class="container-add-storage">
                        <table>
                          <tr>
                            <td>
                            <h3>
                              المنتجات
                            </h3>
                          </td>
                          </tr>
                          <tr>
                            <td style="font-size: 18px">الاسم :</td>
                            <td style="font-size: 18px">الكميه :</td>
                            <td style="font-size: 18px">سجل :</td>
                          </tr>
                          <tr>
                            <form action="/AddInStorage" method="post">
                              <td>
                                <select
                                  class="form-control form-control-lg"
                                  required
                                  style="
                                  width:200px;
                                  "
                                  name="Name"
                                  id="Name"
                                >
                                <option value="">
                                  اختار المنتج :
                                </option>
                                <% Data2.forEach(function (item) { %>
                                  <% if (item.nameSetting == null) { %>

                                  <% } else { %>
                                    <option value="<%= item.price %>">
                                      <%= item.nameSetting %>
                                    </option>
                                   <% } %> 
                  
                                <% }); %>
                              </select>
                              </td>
                              <td>
                                <input
                                  class="form-control form-control-lg"
                                  type="text"
                                  required
                                  name="Number"
                                  id="Number"
                                />
                              </td>
                              <td >
                                <input
                                  type="submit"
                                  value="ابعت"
                                  class="btn btn-lg btn-primary"
                                  style="
                                    background-color: #5e5ecb;
                                    color: white;
                                    border: 1px solid #5e5ecb;
                                    border-radius: 8px;
                                        width: 90%;
                                        height: 100%;
                                        text-align: center;
                                  "
                                />
                              </td>
                            </form>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer">
          <div class="container-fluid">
            <div class="row text-muted">
              <div class="col-6 text-start">
                <p class="mb-0">
                  <a class="text-muted" href="#" target="_blank"
                    ><strong>Yousef Romany 😃 </strong></a
                  >
                  - &copy;
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="./js/skin.js"></script>
    <script src="./js/add-storage.js"></script>
  </body>
</html>
